body {
  display: grid;
  grid-template-rows: 100px 300px;
}

header {
  background-color: gray;
}

header nav {
  background-color: lightblue;
}

main {
  background-color: lightcoral;
}

main aside {
  background-color: lightgreen;
}

footer {
  background-color: blueviolet;
}